.main{
    
    height: 500px;
    width: 1000px;
    background-color: white;

}
.main>img{
    float: right;
}
.row1{



    width: 400px;
    height: 500px;
    background-color: rgb(235, 229, 229);
    position: relative;
  left: 0px;
 

}
.row12{
    height: 50px;
    width: 400px;
    
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;

    padding: 10px;
    margin-left: auto
    display: inline-block;

}
ul{
    display: flex;
    text-align: center;
    height: 10px;
    width: 5px;
    list-style-type:none;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
   
}
ul>li{
    font-style: italic;
    text-shadow: #73AD21;
    padding: 10px;
    color: #DE3163;
}

.row11{
    height: 50px;
    width: 400px;
    
    
}



.row12>img{
    height: 50px;
    width: 300px;
    
}
.row11>h1{
    color: #DE3163;
}
.main:hover{background-color: #DE3163;

}


    
/* mouse over link */
a:hover {
    color: red;
  }
  p:hover, h1:hover, a:hover ,h3:hover {
    background-color: yellow;
  }